@model e3_csharp.Models.Team

@{
    ViewData["Title"] = "Eliminar Equipo";
}

<h1>Eliminar Equipo</h1>

<h3>¿Estás seguro de que quieres eliminar este equipo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div> 