@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="p-5 bg-light rounded shadow">
                <h1 class="display-4 text-primary">¡Bienvenido!</h1>
                <p class="lead mt-3">
                    Aprende sobre <a class="text-decoration-none fw-bold" href="https://learn.microsoft.com/aspnet/core" target="_blank">
                        cómo construir aplicaciones web con ASP.NET Core
                    </a>.
                </p>
            </div>
        </div>
    </div>
</div>
