@model e3_csharp.Models.Classroom
@{
    ViewData["Title"] = "Editar Aula";
}
<h1>@ViewData["Title"]</h1>
<h4>Aula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="needs-validation" novalidate>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Estado" class="form-label"></label>
                <input asp-for="Estado" class="form-control" required />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </form>
    </div>
</div>
